Project Goal: Mastering Python fundamentals through the lens of linguistics and audio processing.

In [ ]:
print("hello, world")

hello, world

Functions are actions or verbs that the language knows what to do for you.  In this example, it would be print.

Arguments are input to functions that influences the function's behavior. For example, the parentheses tell the function what to print.

Side effects are what happens.  It can be text or audio on the screen.

Bugs are mistakes that appear within the code.

In [ ]:
print("hello, world"

SyntaxError: incomplete input (ipython-input-546165540.py, line 1)

In [ ]:
print("hello, world")

hello, world

You can see now with the closing of the parentheses, the error has been resolved.

In [ ]:
input("What's your name?")
print("hello, world")

What's your name?Kaeli
hello, world

We can eliminate the first print line and instead just put the input prompt in instead which will then require the user for information. I input my name "Kaeli", however, we still have the print("hello, world") function as a response. What if we try to change the print input directly to my name?

In [ ]:
input("What's your name?")
print("hello, Kaeli")

What's your name?Kaeli
hello, Kaeli

This creates a problem because the name is hard-coded into the prompt. This is where return values come into play.  Return value is the information received from the human user to then "personify" the response!

Let's use a variable (a container that we can label to store the unknown values).

In [ ]:
name = input("What's your name?")
print("hello, name")

What's your name?Kaeli
hello, name

What went wrong? It responded with the text "name" instead of the information contained within the variable.

In [ ]:
# Ask user for their name
name = input("What's your name?")

# Say hello to user
print("hello,")
print(name)

What's your name?Kaeli
hello,
Kaeli

Hmmm it works but isn't in the best format. Sometimes when you hit a wall, it is important to leave comments along the way as to collab with others, to remind yourself, or to create a to-do list. To do this, you can use # on each line, or """ """ with the comments in between for multi-line comments.

In [ ]:
# Ask user for their name
name = input("What's your name? ")

# Say hello to user
print("hello, " + name)

What's your name? Kaeli
hello, Kaeli

You can use this approach OR the following one.

In [ ]:
# Ask user for their name
name = input("What's your name? ")

# Say hello to user
print("hello,", name)

What's your name? Kaeli
hello, Kaeli

str = string of text in Python. You can manage the persuation of the function by looking up its parameters to see how the function operates in generic form.  Let's look at the print function.  Here is the parameters of the print function: print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False).

*   *objects - means the function can hold unlimited objects hence the asterick
*   sep=' ' - means seperator which seperates the objects within the function; in this case it is a single space
*   end='\n' - means new line which moves cursor like a return key (back to the next line)

In the example below, what I did was change the parameters so that instead of ending with a new line, it now ends on nothing.

In [ ]:
# Ask user for their name
name = input("What's your name?")

# Say hello to user
print("hello, ", end="")
print(name)

What's your name?Kaeli
hello, Kaeli

If I wanted to change the parameters to edit the seperators it would look like this:

In [ ]:
# Ask user for their name
name = input("What's your name?")

# Say hello to user
print("hello,", name, sep="???")

What's your name?Kaeli
hello,???Kaeli

Values that we have been positioning to print, are called positional parameters. This is what gets passed to print first. Named parameters are optional and you can pass them at the end of your print statement, but you can also use them by name.  (ex. end, sep, etc.)

**What happens if you want to print an actual quote?**

In [ ]:
print("hello, "friend"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2141446907.py, line 1)

This doesn't work due to the double paratheses.  There are 2 options.

In [ ]:
print('hello, "friend" ')

hello, "friend"

In [ ]:
print("hello, \"friend\"")

hello, "friend"

There is a new format within Python that uses a format string or F-string.  Let's throw our variable name into this format. f {name}

In [ ]:
# Ask user for their name
name = input("What's your name? ")

# Say hello to user
print(f"hello, {name}")

What's your name? Kaeli
hello, Kaeli

# Troubleshooting for when str input in incorrect (46:32)

Let's say that during input, there is user error and they input too many spaces.  The read-out will also include those spaces unless we alter the str to account for that.

In [ ]:
# Ask user for their name
name = input("What's your name? ")

# Remove whitespace from str
name = name.strip()

# Say hello to user
print(f"hello, {name}")

What's your name?   Kaeli
hello, Kaeli

We found the title function through the Python library that capitalizes the first letter of each word like a book title! Tip: For command terminal, you can use up arrow to select $ python name of document to quickly select

In [ ]:
# Ask user for their name
name = input("What's your name? ")

# Remove whitespace from str
name = name.strip()

# Capitalize user's name
name = name.title()

# Say hello to user
print(f"hello, {name}")

What's your name? Kaeli dial
hello, Kaeli Dial

In [ ]:
# Ask user for their name
name = input("What's your name? ")

# Remove whitespace from str AND capitalize name
name = name.strip().title()

# Say hello to user
print(f"hello, {name}")

To combine it even further for readibility, input it into the first line of code.

In [ ]:
# Ask user for their name
name = input("What's your name? "),strip().title()

# Say hello to user
print(f"hello, {name}")

In [ ]:
# Ask user for their name
name = input("What's your name? ").strip().title()

# Split user's name into first name and last name
first, last = name.split(" ")

# Say hello to user
print(f"hello, {first}")

What's your name? kaeli dial
hello, Kaeli

Whaat's this doing? Here we are telling the str that we want to split the full name when there is a space.  We are also designating that there is a first and last name.  Then, we are commanding the str to have a return value for just the first name.

int = integer; number without decimal point and can include negatives. Python allows for the following operators: +, -, *, /, %. % is called modulo (remainder of division product)

In [ ]:
x = 1
y = 2

z = x + y

print(z)

3

![python integers.png]()

In [ ]:
x = input("What's x? ")
y= input("What's y?")

z = x + y
print(z)

What's x? 1
What's y?2
12

So here we see that python is treating the numbers as a str and concatenating the numbers as text instead of integers.  To fix this issue, we would need to alter the code so it reads:

In [ ]:
x = input("What's x? ")
y= input("What's y?")

z = int(x) + int(y)
print(z)

What's x? 1
What's y?2
3

The addition of thr 3rd varaiable (z) feels redundant if we are not going to use it again.  So, we can nest the input commands inside the int function to then simply compute the output of both of those variables.

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y?"))

print(x + y)

What's x? 1
What's y?2
3

float = real number with a decimal point

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

print(x + y)

What's x? 1.2
What's y?3.4
4.6

What if we want to round the result to the nearest integer for the user? Here is what the parameters are for the function round: round(number[, ndigits]). The [ ] in coding usually translate to something optional.

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

z= round(x + y)

print(z)

What's x? 1.2
What's y?3.4
5

Ok let's take another look at a problem where we are adding two numbers together, however we would like to format the answer to have a comma?

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

z= round(x + y)

print(z)

What's x? 999
What's y?1
1000

Here wer are going to bring back the f-string (format) to insert the comma.

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

z= round(x + y)

print(f"{z:,}")

What's x? 999
What's y?1
1,000

Lets complete a division problem!

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

z= x / y

print(z)

What's x? 2
What's y?3
0.6666666666666666

Now lets use this example to demonstrate the round feature with the digits included. You will also see how it can be formatted simply with the f-string.

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

z= round(x / y, 2)

print(z)

What's x? 2
What's y?3
0.67

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y?"))

z= round(x / y, 2)

print(f"{z:.2f}")

What's x? 2
What's y?3
0.67

The :.2f section of the function is sourced from the parameter documentation - don't worry if this looks wonky or out of left field.  This is why.

def - defining functions so that you can recall your OWN functions

In [ ]:
name = input("What's your name? ")
hello()
print(name)

What's your name? kaeli

NameError: name 'hello' is not defined

Here the hello function does not yet exist.

In [ ]:
def hello():
  print("hello")

name= input("What's your name? ")
hello()
print(name)

What's your name? kaeli
hello
kaeli

Here we have pressed the tab button to signal what all is included within our hello function. Now lets say we want to say hello to someone speciic.  Now we could just use "x" as in Hello x! but lets instead use parameter "to".  What happens within this function is that the last name is calling hello but passing name as argument as variable. Name is copied to "to".

In [ ]:
def hello(to):
  print("hello,", to)

name= input("What's your name? ")
hello(name)

What's your name? Kaeli
hello, Kaeli

Let's not assume that a developer has created a default greeting.  Here is demonstrating defining your own default greeting along with a more personalized approach.

In [ ]:
def hello(to="world"):
  print("hello,", to)

hello()
name= input("What's your name? ")
hello(name)

hello, world
What's your name? Kaeli
hello, Kaeli

Note: Python reads top to bottom, left to right.  So the defining of the functions must take place prior to coding OR must be at the top of your code if you are defining it yourself.  Let's write two different defining functions in the example below.  YOU MUST ACTUALLY CALL IT IN ORDER FOR IT TO WORK.

In [ ]:
def main():
  name = input("What's your name? ")
  hello(name)


def hello(to="world"):
  print("hello,", to)

main()

What's your name? kaeli
hello, kaeli

return = return a value explicitly yourself

In [ ]:
def main():
  x = int(input("What's x? "))
  print("x squared is", square(x))

def square(n):
  return n * n

main()

What's x? 2
x squared is 4

Because "squared" is not a direct function, we have built it out with the defined function.
return n **2 would also give you n to the 2nd power OR there is a power function that you can use.
return pow(n, 2).

**Applying Methodology for AI Audio**

If this were the problem we were trying to solve: Write a script that takes a sentence, counts the number of "vowels".

The first thing I would want to do is have the user input their sentence and then based on their answer, count the number of vowels.  But we also must help the system to define what a vowel is.

In [ ]:
# Build a defined function for what I want to do: Count the Vowels
def count_vowels():
  vowels = "aeiou"
# Ask User for Their Sentence
  sentence=input("What's your sentence? ")
# Re-format so that the sentence is standardized.
  clean_sentence = sentence.lower()
# Count How Many Vowels are in the Sentence
  vowel_count = 0
  for char in clean_sentence:
    if char in vowels:
      vowel_count += 1
# Output to User
  return vowel_count

print(f"Total Vowels: {count_vowels()}")

What's your sentence? The birds are in flight.
Total Vowels: 0

Ok so here we can see that i did build a successful function, however it is not performing as expected.  I had to reformat the vowels and I did use an f-string to format the output of the results once the vowels are counted correctly.